In [10]:
# Q1. Create one variable containing following type of data:

#(i)	string

#(ii)	list

#(iii)	float

#(iv)	tuple

In [13]:
#Ans.
#1.String 
a = "Yogi"

#2.list
b = [1,2,3,4,'yogi','harsh',12.44,]

#3.float
c = 12.44

#4.tuple
#don't know the answer sorry

In [14]:
#Q2. Given are some following variables containing data:
#(i)	var1 = ‘ ‘

#(ii)	var2 = ‘[ DS , ML , Python]’

#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)	var4 = 1

In [1]:
#Ans.
#1.var1 = ‘ ‘

In [2]:
#Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**

In [4]:
#Ans.
#1. /

In [6]:
#2. %
# This is modulus operator it is used to get remainder of a devision.For example:

#1%4 = 1 , 9%4 = 1 etc.

#Proof

In [7]:
1%4

1

In [9]:
9%4

1

In [13]:
#3, //
#dont know

In [14]:
#4. **
#This is used as exponent. for example;
#2**2=4 , 3**4=81
#Proof

In [15]:
2**2

4

In [16]:
3**4

81

In [8]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type
#Ans.
Z = [1,2,3,3.56,"Yogendra",True,False,"yogi","harsh",5+9j]
type(A)

list

In [9]:
for i in Z :
    print(i)

1
2
3
3.56
Yogendra
True
False
yogi
harsh
(5+9j)

In [10]:
for i in Z:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'complex'>

In [21]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
#Don't Know

In [22]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not
#Ans.Dont Know

In [2]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property
#Ans.This concept is based on replacement.Data types which are replacable are called mutable datatypes and those which are not replacable are called immutable datatypes.
#Strings are immutable because we can't reassign data but list are mutable beacause we can reassign data in list.

#For. Example
#1. Mutable

G = [ 1,2,3,5,1.33,"harsh",True]

In [3]:
type(G)

list

In [5]:
G[1]

2

In [7]:
G[4]

1.33

In [8]:
G[4] = 2.12 #reassigning the data

In [ ]:
G

[1, 2, 3, 5, 2.12, 'harsh', True]

In [10]:
#2.Immutable 

H = "Yogendra"

In [11]:
type("Yogendra")

str

In [13]:
H[0]

'Y'

In [14]:
H[5]

'd'

In [15]:
H[5] = v #reassigning data

NameError: name 'v' is not defined

In [ ]:
# It's showing error because string is immutable